# Temp files
build/
dist/
node_modules/
typings/

# Build files
obj/
bin/
*.lock.json
src/**/*.js
src/**/*.d.ts

# IDE files
.vscode/
.vs/

# Extra Package Manager
#bower_components/
#packages/

*.log
*.tmp
